
body {

  font-family: sans-serif;
   color: #fff;
   padding: 10px;
   justify-content: center;
   align-items: center;
}

body .cardone{
 width: 270px;
 height: 480px;
   background-color: #000000;
   padding: 14px;
   padding-top: 0px;
   border-radius: 25px;

}



  h1 {
color: #fff;
display: flex;
justify-content: center;
align-items: center;

  }

  hr {
background-color: #7552a1;
height: 1px;
margin: 0px;  }

p {
color: #fff;
font-size: 10px;
}


.inside {
  color: #000;
  font-size: 10px;
  }


.song {
color: #fff;
font-size: 10px;
}
.bpm {
color: #fff;
  font-size: 15px;}

.nonew {
color: #fff;
font-size: 15px;


}

.buttons .button{

  margin: .75rem;
  justify-content: center;
   align-items: center;

}

.column.is-full, .column.is-full-tablet {
    flex: none;
    width: 100%;
    padding-left: 4.7rem;
    padding-top: 0px
}

span {
  color: #888;
  font-size: 6.5px;
  padding:
  }

  .hidden {
    display: none;
  }

#accept_button {
  margin: 0rem;

}

#decline_button2 {
  margin: .2rem;

}
