html {


}

body {

  font-family: sans-serif;
   color: #fff;
   padding: 10px;
   justify-content: center;
   align-items: center;
}

body .card {
 width: 270px;
 height: 480px;
   background-color: #000000;
   padding: 14px;
   padding-top: 0px;
}

  h1 {
color: #fff;
display: flex;
justify-content: center;
align-items: center;

  };

  }

  hr {
    border:0;
    margin:0;
    width:100%;
    height:2px;
    background: #7552a1;
  }

p {
color: #fff;
font-size: 10px;
}
.inside {
  color: #000;
  font-size: 10px;
  }
}
.buttons {
display: flex;
justify-content: center;
flex-direction: ;
align-items: flex-end;
padding: 0px;

}
.song {
color: #fff;
font-size: 10px;
}
.bpm {
color: #fff;
font-size: 15px;
}

span {
  color: #888;
  font-size: 6.5px;
  padding:
  }
}
